<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="centimeters">Height (cm):</label>
                <input  [(ngModel)]="centimeters" type="number" id="centimeters" name="centimeters" class="form-control">    
              </div>
               <div class="form group">
                   <label for="kilogram">weight (lb):</label>
                   <input [(ngModel)]="kilogram" type="number" id="kilogram" name="kilogram" class="form-control"> 
               </div>
              <button (click)="click()" type="button" class="btn btn-info">Calculate</button>
              <div>{{result}}</div>
            </div>
        </div>  
    </div>          
  
</body>
</html>
